:root {
    --dark-blue: #2C3E50;
    --darker-blue: #3A546D;
    --dark-green: #1ABC9C;
}

.bg-dgreen {
    background-color: var(--dark-green);
}

.bg-blue {
    background-color: var(--dark-blue);
}

.bg-dblue {
    background-color: var(--darker-blue);
}

.text-dgreen {
    color: var(--dark-green);
}

header > .bg-blue > .container > .row {
    min-height: 60px;
}

.nav > .nav-item > .nav-link, .nav > .nav-item {
    display: inline-block;
}

#jumbotron > img {
    width: 250px;
}

.bi-star-fill {
    font-size: 24px;
}

.bi-star-fill.dark {
    color: black;
}

.star-separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-separator::before, .star-separator::after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 100px;
    margin: 0 20px;
}

.star-separator.star-separator-dark::before,
.star-separator.star-separator-dark::after {
    background-color: #000;
}

.form-c {
    border-width: 0 0 2px 0;
}

.footer-top .col-10 > div > i {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
}

.footer-top > .container > .row {
    min-height: 200px;
}

.footer-bottom {
    min-height: 50px;
}